*{box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
font-family: 'Roboto', sans-serif;
display: contents;
position: relative;
min-height: 100vh;
height: 100vh;
}
.descuentos{
width: 100%;
background: #1CD1B0;
font-size: 15px;
color: black;
}
h3{
padding: 5px;
font-size: 1rem;
}
header{
    display: flex;
    position: relative;
    top: 0%;
    box-sizing: border-box;
    background: #00669F;
    box-shadow: 0px 10px 7px rgba(0, 0, 0, 0.25);
    padding: 1px 1px 1px 20px;
}
h2{
    color: white;
    padding-top: 2.1rem;
    font-size: 2rem;
    font-weight: 1200;
}
header img{
    width: 10rem;
}
nav{
    background-color: #001D2D;
    padding:5px;
    text-align: right;
}
nav a{
    color: white;
    text-decoration: none;
    margin-right: 1.3rem;
}
nav a:hover{
    color:#00669F;
}
.bluebox{
    justify-content: space-around;
    text-align: center;
    margin: 5rem auto;
    border-radius: 2rem;
    background-color: #00669F;
    width: 600px;
    height: 600px
}
.bluebox h2{
    padding: 0;
}
.bluebox p{
    text-align: center;
    color: white;
    padding: 0%;
    margin-bottom: 0;
    height: 50px;
}
.formbox{
    display: inline-block;
    margin-bottom: 10px;
}
.formbox p{
    height: 1.5rem;
    display: flex;
    align-items: center;
}
.formbox input{
    width: 15rem;
    display:flex;
    height: 2rem;
    padding: 5px;
    border-radius: 0.5rem;
}
.formbox select{
    width:15rem;
    display:flex;
    height: 2rem;
    padding: 5px;
    border-radius: 0.5rem;
}
.formbox textarea{
    width:15rem;
    display:flex;
    height: 12rem;
    padding: 5px;
    border-radius: 1rem;
}
.formbox1{
    color: white;
    width: 40%;
    text-align: left;
    display: inline-block;
}
.formbox2{
    color: white;
    text-align: left;
    display: inline-block;
}
.boton{
    display: block;
}
.bluebox button{
    margin:0 auto;
    display: block;
    background-color: #1CD1B0;
    border-radius: 1rem;
    color: #001D2D;
    font-weight: 800;
    font-size: 1.3rem;
    width: 300px;
}



.heroes{
    display:flex;
    gap: 20px;
    justify-content: center;
    position: relative;
    flex-wrap: wrap;
    height: 60%;
    margin-bottom: 40px;
}
.heroesbox{
    margin: 100px 0px 0px 0px;
    display: inline-block;
    width: 300PX;
    background-color: #F3F3F3;
    border-radius: 20px 20px 0 0;
    position: relative;
    text-align: center;
    margin top: 10px;
    box-shadow: 0px 10px 7px rgba(0, 0, 0, 0.25)
}
.topbox{
    position: ;
}
.topimag{
    justify-content: center;
    position:relative;
    width: 100%;
    border-radius: 20px 20px 0 0;
    } 
.face{
    border-radius: 50%;
    width: 200px;
    display: block;
    position: absolute;
    top: 15%;
    left: 20%;
    box-shadow: 0px 10px 7px rgba(0, 0, 0, 0.25);
}
h4{
    margin-top: 40%;
    font-size: 30px;
    text-align: center;
}
p{
    font-size: 16px;
    padding: 20px;
    text-align: justify;
    height: 250px;
}
button{
    background-color: #00669F;
    color: white;
    padding:10PX 30PX ;
    margin-top: 30PX;
    margin-bottom: 30PX;
}
i{
    color: red;
    position: absolute;
    top: 30PX;
    left: 30px;
    font-size: 30PX;
}
footer{
    background-color: #00669F;
    width: 100%;
    text-align: center;
    margin-bottom: 0px;
}
.derechos{
    display: inline-flex;
    color: white;
    font-size: 1.2rem;
    height: 60px;
}
footer img{
    align-items: center;
    width: 150px;
    position: absolute;
    right: 20px;
}

.next{
    font-size: 20px;
    font-weight: 900;
    border-radius: 10%;
    display: flex;
    position: absolute;
    right: 0%;
    top: 50%;
    opacity: 30%;
}
.next a{
    color: white;
    text-decoration: none;
}

.next2{
    font-size: 20px;
    font-weight: 900;
    border-radius: 10%;
    display: flex;
    position: absolute;
    left: 0%;
    top: 50%;
    opacity: 30%;
}
.next2 a{
    color: white;
    text-decoration: none;
}
@media (max-width: 768px)
{
    .descuentos{
    text-align: center;
    }
    h2{
    text-align: center;
    }
    .heroes{
    flex-wrap: wrap;
    }
    footer{
    align-items: flex-end;
    }
    .derechos{
        font-size: 1rem;
    }
    footer img{
        width: 90px;
    }
}